@charset "UTF-8";

body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.post * {
  margin: 0;
}

.post .image {
  width: 100%;
}

.post-series .image {
  max-width: 30px;
}

.shop .image {
  max-width: 100px;
}

/* グリッド */

.post {
  display: grid;
  grid-template-columns: 20px 1fr 50px 1fr 20px;
  grid-template-rows: auto 30px auto 40px auto 30px auto;
}

/* ヘッダー */

.post-head {
  grid-column: 2 / -2;
  grid-row: 1;

  /* ヘッダーのグリッド */
  display: grid;
  grid-template-columns: 75px 1fr 140px;
  grid-template-rows: 45px repeat(3, auto);
  grid-column-gap: 24px;
  grid-row-gap: 12px;
}

/* ヘッダー: タイトル */
.post-head .post-title {
  grid-column: 2;
  grid-row: 3;
}

/* ヘッダー: リード文 */
.post-head .post-lead {
  grid-column: 2;
  grid-row: 4;
  font-size: 13px;
  line-height: 1.8;
}

/* ヘッダー: シリーズ名 */
.post-head .post-series {
  grid-column: 1;
  grid-row: 1/ 4;
}

/* ヘッダー: 日付 */
.post-head .post-date {
  grid-column: 3;
  grid-row: 1;
}

/* ヘッダー: メニューの基本設定 */
.post-head ul,
.post-head ol {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-head a {
  list-style: none;
  color: #000;
  text-decoration: none;
}

/* ヘッダー: パンくずリスト */
.post-head .post-bread {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-size: 10px;
  line-height: 2;
}

.post-head .post-bread li:not(:last-child)::after {
  margin: 0 5px;
  content: '>';
  color: #000;
}

/* ヘッダー: カテゴリー */
.post-head .post-category {
  grid-column: 2;
  grid-row: 2;
}

.post-head .post-category ul {
  grid-column-gap: 5px;
}

/* ヘッダー: SNSメニュー */
.post-head .post-sns {
  grid-column: 3;
  grid-row: 3;
}

/* セクション01 */

.section01 {
  grid-column: 2 / -2;
  grid-row: 3;
}

/* セクション02 */

.section02 {
  grid-column: 2;
  grid-row: 5;
}

/* セクション03 */

.section03 {
  grid-column: 4;
  grid-row: 5;
}

/* フッター */

.post-foot {
  grid-column: 1 / -1;
  grid-row: -2;
}
